.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width: 20px;
    background:linear-gradient(#16a4e9, #4d46d2); 
    border-style:double;
    border-color:dimgray;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

b
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

i
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

